<div class="container">
<h1>Cocktail List</h1>
<% @cocktails.each do |cocktail| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
</div>
<% end %>

<%= cl_image_tag("f0o9pk0autsesmrwg8kc",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("ndgmh5x6umxcu9sejyhv",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<%= link_to "+ Add a new Cocktail", new_cocktail_path  %>
</div>
