<div class="container">
  <h1>Cocktail List</h1>
  <% @cocktails.each do |cocktail| %>
  <div class="card">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      <div class="background-image">
        <% if cocktail.photo.attached?%>
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "san_francisco.png", height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
  </div>
  <% end %> <!-- closes div -->

  <%= link_to "+ Add a new Cocktail", new_cocktail_path  %>
</div>
